{
  "presets": [
    "es2015",
    "react",
    "stage-1"
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    },
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
