// Main styles

// * Set the global `box-sizing` state to `border-box`.
html {
    box-sizing: border-box;
}

html,
body,
#root,
.routerRoot {
  width: 100%;
  height: 100%;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0;
  padding: 0;
  font-smoothing: antialiased;
  font-weight: 300;
}

