// Main styles

// Set the global `box-sizing` state to `border-box`.
// And set the root font-size for unit mesurements purposes
html {
  box-sizing: border-box;
  font-size: 16px;

  @media only screen and (max-height: 600px)  {
    font-size: 12px;
  }
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  font-family: BlinkMacSystemFont, "Segoe UI", Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.7rem;
  color: #4d4d4d;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

a:visited {
  color: inherit;
}

// Component imports
@import '../containers/App/styles';
@import '../containers/Login/styles';
@import '../components/Navigation/styles';
